<section id="work" class="w-full relative py-20 px-4 md:px-12 grid grid-cols-12 gap-y-0 text-white">

    <!-- Table Header -->
    <div
        class="col-span-12 grid grid-cols-12 border-b border-grid-line pb-4 mb-4 font-mono text-xs opacity-40 uppercase tracking-widest">
        <div class="col-span-1">ID</div>
        <div class="col-span-6 md:col-span-5">Project Name</div>
        <div class="col-span-5 md:col-span-4 text-right md:text-left">Details</div>
        <div class="hidden md:block col-span-2 text-right">Year</div>
    </div>

    <!-- Rows -->
    @for (project of projects(); track project.id; let i = $index) {
    <a [routerLink]="['/case-study', project.id]" (mouseenter)="onProjectHover(project.image)"
        (mouseleave)="onProjectLeave()"
        class="col-span-12 grid grid-cols-12 border-b border-grid-line py-8 hover:bg-white/5 transition-colors group items-center cursor-none">

        <div class="col-span-1 font-mono text-sm opacity-50">{{ getFormattedIndex(i) }}</div>

        <div
            class="col-span-6 md:col-span-5 text-2xl md:text-4xl font-bold uppercase tracking-tight group-hover:translate-x-4 transition-transform duration-500">
            {{ project.title }}
        </div>

        <div
            class="col-span-5 md:col-span-4 text-right md:text-left text-sm font-mono opacity-60 flex flex-col md:flex-row gap-2">
            @for(tech of project.tags.slice(0,2); track tech) {
            <span class="border border-white/20 px-2 py-1 rounded-full text-[10px]">{{ tech }}</span>
            }
        </div>

        <div class="hidden md:block col-span-2 text-right font-mono text-sm opacity-40">
            2024
        </div>
    </a>
    }

</section>